.rf-field-CheckboxField {
    flex-wrap: wrap;

    label {
        cursor: pointer;
        user-select: none;
    }

    .rf-helper-text  {
        margin-top: 0.5em;
        width: 100%;
    }
}

.rf-field-ImageField {
    .rf-image-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        .p-image {
            flex-shrink: 0;
            margin-right: 1em;

            img {
                width: 100%;
                height: auto;
                max-width: 10em;
            }
        }

        input[type="file"] {
            width: 1px;
            height: 1px;
            visibility: hidden;
            position: fixed;
            z-index: -1;
            left: -10px;
            top: -10px;
        }

        .rf-actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: stretch;
            position: relative;
            flex-grow: 1;

            .rf-select-file {
                width: auto;
                margin-bottom: auto;
            }

            .rf-reset {
                width: auto;
                margin-top: 1em;
            }
        }
    }
}
